---
import Layout from './../layout/layout.astro'
import Hero from './../components/hero.astro'
import Gallery from '../components/gallery.astro';
import Adventure from '../components/adventure.astro'
import Testimonials from '../components/testimonials.astro';
import Choose from '../components/choose.astro'
---

<Layout title='Home'>
    <main>
        <Hero/>
        <Gallery/>
        <Adventure/>
        <Testimonials/>
        <Choose/>
    </main>
</Layout>