---

---

<section class="bg-center bg-no-repeat bg-[url('/img/VegasStrip.jpg')] bg-gray-700 bg-blend-multiply p-16">
    <div class="py-4 px-2 mx-auto max-w-screen-xl lg:py-16">
        <div class="grid md:grid-cols-2 gap-4">
            <div>
                <h2 class="text-[#00FFA3] text-5xl font-extrabold mb-2" style="font-family: 'Tourney'">Where do you want your next adventure to be?</h2>
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="h-auto max-w-full rounded-lg border text-center p-12 border-white">
                    <i class="fa-duotone fa-mountain text-red-500 text-8xl"></i>
                    <h1 class="text-center text-white text-3xl">Mountain</h1>
                </div>
                <div class="h-auto max-w-full rounded-lg border text-center p-12 border-white">
                    <i class="fa-brands fa-safari text-red-500 text-8xl"></i>
                    <h1 class="text-center text-white text-3xl">Safari</h1>
                </div>
                <div class="h-auto max-w-full rounded-lg border text-center p-12 border-white">
                    <i class="fa-solid fa-shoe-prints fa-rotate-270 text-red-500 text-8xl"></i>
                    <h1 class="text-center text-white text-3xl">Walking</h1>
                </div>
                <div class="h-auto max-w-full rounded-lg border text-center p-12 border-white">
                    <i class="fa-sharp fa-solid fa-landmark text-red-500 text-8xl"></i>
                    <h1 class="text-center text-white text-3xl">Culture</h1>
                </div>
            </div>

        </div>
    </div>
</section>
