---

---

<section>
    <div class="grid md:grid-cols-2 bg-[#313041]">
        <div>
            <img src="/img/chooseUs.jpg" alt="" class="h-[764px] w-full">
        </div>
        <div class="relative p-12">
            <div class="lateral"></div>
            <h1 class="text-white text-5xl">Why choose Us?</h1>
            <div class="mt-12">
                <p class="text-white py-6">Parrafo</p>
                <p class="text-white py-6">Parrafo</p>
                <p class="text-white py-6 text-2xl font-extralight">Here’s why clients love booking through us:</p>
            </div>
            <ul class="w-full text-xl font-medium text-white">
                <li class="w-full py-4 flex relative items-center">
                    <div class="icon relative top-2"><i class="fa-solid fa-window text-5xl"></i></div>
                    <div class="text ml-8">Hola Mundo</div>
                </li>
                <li class="w-full py-4 flex relative items-center">
                    <div class="icon relative top-2"><i class="fa-solid fa-window text-5xl"></i></div>
                    <div class="text ml-8">Profile</div>
                </li>
                <li class="w-full py-4 flex relative items-center">
                    <div class="icon relative top-2"><i class="fa-solid fa-window text-5xl"></i></div>
                    <div class="text ml-8">Profile</div>
                </li>
                <li class="w-full py-4 flex relative items-center">
                    <div class="icon relative top-2"><i class="fa-solid fa-window text-5xl"></i></div>
                    <div class="text ml-8">Profile</div>
                </li>
            </ul>
        </div>
    </div>
</section>